/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.address__link, .clients__title, .card__subtitle, .card__title, .team__title, .specialization__label, .specialization__title, .feature__text, .feature__title, .hero__title, .policy__text, .form__title, .contact, .logo, .follow__title, .join__title {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

.join__list, .address__list, .clients__list, .social, .card, .specialization__list, .feature__list, .contact-social__list, .contact, .navigation__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.address__link, .social__link, .contact-social__link, .contact__link, .navigation__link {
  color: inherit;
  text-decoration: none;
}

.follow_button, .hero__button, .form__button {
  width: 200px;
  height: 50px;
  padding: 0;
  background-color: #2196F3;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.join__link, .social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow__title, .join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form__comment, .form__input {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body.modal-open {
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

header {
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 48px 40px;
  }
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 2;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo__title-black {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

.logo__title--accent {
  color: #2196F3;
}

.navigation__list {
  font-size: 40px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item {
    position: relative;
    margin-right: 50px;
    padding: 32px 0;
  }
  .navigation__item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__item {
    margin-right: 53px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__link {
    padding: 32px 0;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: #2196F3;
  }
}

.navigation__link--accent {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .navigation__link--accent::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .contact-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .contact {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    font-size: 14px;
    line-height: 1.14;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (max-width: 767px) {
  .contact__item {
    white-space: nowrap;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .contact__item {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-left: 50px;
  }
}

.contact__link {
  color: #757575;
}
@media screen and (max-width: 767px) {
  .contact__link:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 16px;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: #2196F3;
  }
}

@media screen and (max-width: 767px) {
  .contact__link--tel {
    color: #2196F3;
    font-size: 34px;
    line-height: 1.17;
  }
}

.contact-social__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .contact-social__list {
    display: none;
  }
}

.contact-social__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 22px;
}
.contact-social__item:not(:last-child)::after {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.contact-social__link {
  color: #2196F3;
}
@media screen and (max-width: 480px) {
  .contact-social__link {
    font-size: 10px;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: #2196F3;
}
@media screen and (width: 768px) {
  .contact__icon {
    display: block;
  }
}

.button-burger {
  padding: 0;
  margin: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  z-index: 3;
}
.button-burger .icon-menu {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-burger .icon-menu:hover, .button-burger .icon-menu:focus {
  fill: #2196F3;
}
.button-burger .icon-close {
  display: none;
}
.button-burger.is-open .icon-close {
  display: block;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-burger.is-open .icon-close:hover, .button-burger.is-open .icon-close:focus {
  fill: #2196F3;
}
.button-burger.is-open .icon-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .button-burger {
    display: none;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  z-index: 4;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms cubic-bezier(0.53, 0.1, 0.51, 1.13);
  transition: opacity 250ms linear, -webkit-transform 250ms cubic-bezier(0.53, 0.1, 0.51, 1.13);
  transition: transform 250ms cubic-bezier(0.53, 0.1, 0.51, 1.13), opacity 250ms linear;
  transition: transform 250ms cubic-bezier(0.53, 0.1, 0.51, 1.13), opacity 250ms linear, -webkit-transform 250ms cubic-bezier(0.53, 0.1, 0.51, 1.13);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}
@media screen and (min-width: 480px) {
  .backdrop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal {
  position: relative;
  padding: 40px;
  width: calc(100vw - 30px);
  background-color: #fff;
  z-index: 4;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.form__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 0.95;
}

.form__subtitle {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__thumb {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: #2196F3;
}
.form__input:focus + .form__icon {
  fill: #2196F3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-size: contain;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.comment__label {
  margin-bottom: 20px;
}

.form__comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.form__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.policy__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}
@media screen and (max-width: 479px) {
  .policy__label {
    font-size: 6px;
    line-height: 1;
  }
}
@media screen and (min-width: 1200px) {
  .policy__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy__checkbox:checked + .policy__icon {
  background-color: #2196F3;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.policy__icon {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 8px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E");
}

.policy__link {
  color: #2196F3;
}

.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modale__button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modale__button-close:hover {
  fill: #2196F3;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 400px;
  background-color: #2F303A;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../image/mobile/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../image/mobile/hero.jpg);
}
@media screen and (min-width: 480px), screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../image/mobile/hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../image/mobile/hero@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../image/mobile/hero@3x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../image/mobile/hero@3x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../image/tablet/hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../image/tablet/hero.jpg);
  }
}
@media screen and (min-width: 768px) and (min-width: 769px), screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../image/tablet/hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../image/tablet/hero@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../image/tablet/hero@3x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../image/tablet/hero@3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../image/desctop/hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../image/desctop/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../image/desctop/hero@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../image/desctop/hero@2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../image/desctop/hero@3x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../image/desctop/hero@3x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .feature__item {
    margin-left: auto;
    margin-right: auto;
  }
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

.feature__thumb {
  width: 100%;
  background-color: #F5F4FA;
}

.feature__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
}

.feature__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.specialization {
  display: none;
}
@media screen and (min-width: 1200px) {
  .specialization {
    display: block;
    padding-bottom: 94px;
  }
}

.specialization__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.specialization__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.specialization__item {
  position: relative;
  height: 294px;
  width: calc((100% - 90px) / 3);
  margin: 15px;
}

.specialization__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.card {
  list-style: none;
  padding-left: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card {
    margin: -15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.card__item {
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .card__item {
    margin-right: auto;
    margin-left: auto;
  }
  .card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__item {
    display: inline-block;
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    width: 270px;
  }
  .card__item:not(:last-child) {
    margin-right: 30px;
  }
}

.card__body {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.card__title {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.card__subtitle {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}

.social__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: #ffffff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  background-repeat: no-repeat;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .footer__flex {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    text-align: center;
  }
}

.logo__title-white {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

.address__list {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address__link--accent {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .join {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .join {
    margin-left: 165px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .join__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
.join__link:hover, .join__link:focus {
  background-color: #2196F3;
}

@media screen and (min-width: 1200px) {
  .follow {
    margin-left: auto;
  }
}

@media screen and (max-width: 1200px) {
  .follow__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .follow__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.follow__label {
  display: block;
}
@media screen and (max-width: 1200px) {
  .follow__label {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .follow__label {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .follow__label {
    width: 358px;
    margin-right: 12px;
  }
}

.follow__input {
  display: block;
  width: 100%;
  padding: 15px 0px 15px 16px;
  height: 50px;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.follow_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.follow__icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */