.button-burger {
    
    width: 40px;
    height: 40px;

    padding: 0;
    margin: 0;
    margin-left: auto;
    // background-color: transparent;
    border: none;
    
    & .icon-cross {
        display: none;
    }
    &.is-open .icon-cross {
        display: block;
        }
    &.is-open .icon-menu {
        display: none;
    }

    &.is-open .button-burger__icon {
        width: 18.67px;
        height: 18.67px;
        background-color: aqua;
    }
    & .button-burger__icon {
        width: 24px;
        height: 16px;
        background-color: aqua;
    }
}

.button-burger__icon {
    
}