
.contact-thumb {


    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
    
}

.contact {
    @extend %resetListStyles;
    @extend %resetTextStyles;

    @media screen and (max-width: 767px) {
        margin-bottom: 64px;
    }

    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column-reverse;

        font-size: 12px;
        line-height: 1.16;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
        flex-direction: row-reverse;
    }

    
}

.contact__item {
    @media screen and (max-width: 767px) {
        white-space: nowrap;
        
            &:not(:last-child) {
                margin-bottom: 32px;
            }
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-left: 50px;
        }
    }
    
}

.contact__link {
    @extend %resetLinkStyles;

    color: $colorTextSecondary;

    

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
                margin-bottom: 32px;
            }
    }

    @media screen and (min-width: 768px) {
        
            display: flex;
            align-items: center;
        
            height: 16px;
        
            transition: $transitionColorAccent;
        
            &:hover,
            &:focus {
                color: $colorAccent;
            }
    }
}

.contact__link--tel {
    @media screen and (max-width:767px) {
            color: $colorAccent;
            font-size: 34px;
            line-height: 1.17;
    }
}


.contact-social__list {
    @extend %resetListStyles;
    display: inline-flex;
    flex-wrap: nowrap;

    @media screen and (min-width: 768px) {
        display: none;
    }
    

}

.contact-social__item {

    display: inline-flex;

    align-items: center;
    height: 22px;

    &:not(:last-child)::after {
            content: "";
            display: inline-flex;
            align-items: center;
            height: 100%;


            margin-left: 10px;
            margin-right: 10px;

           
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(0deg);
        }
}

.contact-social__link {
    @extend %resetLinkStyles;
    color: $colorAccent;

    @media screen and (max-width: 480px) {
            font-size: 10px;
        }
}

.contact__icon {
    @media screen and (max-width: 767px) {
        display: none;
    }

    margin-right: 10px;
    
        fill: #757575;
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .contact__link:hover &,
        .contact__link:focus & {
            fill: $colorAccent;
        }

    @media screen and (width: 768px) {
        display: block;
    }

    

}