.feature {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.feature__list {
    @extend %resetListStyles;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
    
}

.feature__item {
    

    @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
        &:not(:last-child) {
                margin-bottom: 30px;
            }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 15px * 4)/2);
        margin: 15px;
    }

}
.feature__thumb {
    width: 100%;
    background-color: #F5F4FA;
}
.feature__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    height: 120px;
    
}

.feature__title {
    @extend %resetTextStyles;

    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.feature__text {
    @extend %resetTextStyles;

    font-size: 14px;
    line-height: 1.71;
    color: $colorTextSecondary;
}