.page-header {
    display: flex;
    align-items: center;
    
    height: 60px;
    
    @media screen and (min-width: 768px) {
        height: 80px;
    }
}


header {
        border-bottom: 1px solid #ECECEC;
}

    .menu-container {

        @media screen and (max-width: 767px) {
            display: none;
            
                &.is-open {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    z-index: 2;
                }
            
                background-color: #fff;
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            
                padding: 48px 40px;
        }

        @media screen and (min-width: 768px) {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
 }

