.team {
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: #F5F4FA;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        text-align: center;

    }
}

.team__title {
    @extend %resetTextStyles;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
    }
}


.card {
    @extend %resetListStyles;
    
    list-style: none;
    padding-left: 0;

    @media screen and (min-width: 768px) and (max-width: 1199px ){
        margin: -15px;
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 30px;
        display: flex;
    }
}

.card__item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: #FFFFFF;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
                margin-bottom: 30px;
            }
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: inline-block;
        margin: 15px;
        width: calc((100% - 15px * 4) / 2);
    }

    @media screen and (min-width: 1200px) {

        width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
        }
        
    }
}

.card__body {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.card__title {
    @extend %resetTextStyles;

    padding-bottom: 10px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.card__subtitle {
    @extend %resetTextStyles;

    padding-bottom: 16px;
    
    font-size: 16px;
    line-height: 1.18;
    color: $colorTextSecondary;
}


.social {
    @extend %resetListStyles;

    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style: none;
}

.social__item {
    
    &:not(:last-child) {
        margin-right: 10px;
    }
    
}

.social__link {
    @extend %resetLinkStyles;
    @include flex-centered();
    @extend %socialIconLink;

    fill: #AFB1B8;

    &:hover,
    &:focus {
        background-color: #2196F3;
    }
}

.social__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social__link:hover &,
    .social__link:focus &{
        fill: #ffffff;
    }
    
}

