
    
    $colorTextPrimary: #212121;
    $colorTextSecondary: #757575;
    $colorAccent: #2196F3;
    $colorLink: rgba(255, 255, 255, 0.6);

    $colorBackgroundPrimary: #ffffff;
    $colorBackgroundSecondary: #F5F4FA;

    $transitionColorAccent: color 250ms cubic-bezier(0.4, 0, 0.2, 1);